@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {
  border: solid 1px black;
} */

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  background-color: rgb(226, 226, 226);
}

.left-links, .right-links {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  list-style-type: none;
  padding: 0px;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;;
}

.left-links {
  justify-content: flex-start;
}

.right-links {
  justify-content: flex-end;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color: grey;
}
