body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 0;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 350px;
  height: 350px;
  padding: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
  padding: 48px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}