

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  align-self: center;
  margin: 14px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  padding: 0px;
}

a {
  font-size: 22px;
  background: white;
  padding: 10px;
  /* this removes the line under the links */
  text-decoration: none;
  color: blue;
  margin: 10px;
}

.left-links {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
}

.right-links {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
}

